/*@font-face {
    font-family: "font";
    src: url("https://kteam.tk/k.feed/k-font.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


img{
    max-width: 600px;
    max-height: 600px;
}

*/
@font-face {
    font-family: "font";
    src: url("./k-font.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
body{
    background-color: #ececec;
    padding: 50px;
    box-sizing: border-box;
    font-family: "font";
}
header{    
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    padding: 8px;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #cecece;
    max-height: auto;
    float: left;
    box-sizing: border-box;
}
main{
    max-width: 1000px;
    min-width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-sizing: border-box;
   
}
footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    font-size: 10px;
    box-sizing: border-box;
}



#feed{
    padding: 8px;
    float: right;
    width: 80%;
    max-width: 800px;
    position: relative;
    box-sizing: border-box;
}


#feed-main{
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #cecece;
    padding: 18px;
    max-width: 800px;
    margin-bottom: 15px;
    box-sizing: border-box;
}
#feed-lit{
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #cecece;
    padding: 18px;
    min-width: 340px;
    margin: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    float: left;
}

#feed_1{
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #cecece;
    padding: 18px;
    min-width: 68%;
    max-width: 68%;;
    margin-bottom: 15px;
    box-sizing: border-box;
    float: left;
}
#feed_2{
    background-color: #ffffff;
    position: relative;
    border-radius: 5px;
    border: 1px solid #cecece;
    padding: 18px;
    min-width: 30%;
    max-width: 30%;
    height: auto;
    margin-bottom: 15px;
    box-sizing: border-box;
    float: right;
}




#panel{ 
    position: relative;
    width: auto;
    height: auto;
    float: left;
    max-width: 20%;
    padding: 8px;
    box-sizing: border-box;
    height: 100%;
    min-width: 20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#head{
    box-sizing: border-box;
    max-width: 1000px;
    min-width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 8px;
    
}
#load{
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
}
#cookie_bar{
    background-color: #ffffff;
    border-radius: 10px;
    padding: 8px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: auto;
    height: auto;
    margin: 8px;
    border: 1px solid #cecece;
    max-width: 320px;
    box-sizing: border-box;
}
#slot{
    padding: 10px;
    margin: 4px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 8px;
    color: #8048f8;
}
#slot:active{
    padding: 10px;
    margin: 4px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 8px;
    background-color: #fff;
}
button{
    font-family: "font";
    background-color: #8048f8;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    padding: 8px;
    width: 100%;
    border: none;
    box-sizing: border-box;
}


.button{
    font-family: "font";
    background-color: #8048f8;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    padding: 8px;
    width: 100%;
    border: none;
    box-sizing: border-box;
}

#logo{
    float: left;
    min-width: 20%;
    box-sizing: border-box;
    font-size: 20px;
    width:auto;
    text-align: left;
    border-radius: 8px;
    font-weight: 600;
    padding-left: 16px;
    vertical-align: middle;
}#logo_ic{
    float: left;
    width: 10%;
    background-color: #ffffff;
    border-radius: 8px;
    box-sizing: border-box;
}
#search{
    float: left;
    padding: 8px;
    box-sizing: border-box;
}
input{
   
    
    border-radius: 10px;
    
    padding: 8px;
    outline: none;


    font-family: "font";
    background-color: #e9e9e9;
    border: 1px solid #cecece;
    text-align: left;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}
textarea{
    background-color: #e9e9e9;
    border-radius: 10px;
    border: 1px solid #cecece;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    margin: 8px;
    max-width: 98%;
    min-height: 100px;
}

.textarea{
    background-color: #e9e9e9;
    border-radius: 10px;
    border: 1px solid #cecece;
    outline: none;
    width:auto;
    min-height: 50px;
    margin: 8px;
    border-radius: 10px;
    box-sizing: border-box;
}

option{

}
select{
    background-color: #e9e9e9;
    border-radius: 10px;
    border: 1px solid #cecece;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    margin: 8px;
}
fieldset{
    background-color: #fdc7c7;
    border-radius: 10px;
    border: 1px solid #ff4d4d;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    margin: 8px;
    text-align: center;
}
#red{
    background-color: #fdc7c7;
    border-radius: 10px;
    border: 1px solid #ff4d4d;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    margin: 8px;
    text-align: center;
}
#green{
    background-color: #acffc0;
    border-radius: 10px;
    border: 1px solid #1dff55;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    margin: 8px;
    text-align: left;
}
a{
    text-decoration: none;
    color: #8048f8;
}
#profile{
    width: auto;
    float: right;
}
#p_pan{
    color: #000000;
    font-size: 12px;
    margin: 8px;
}
#p_pann{
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
#search_b{
    font-family: "font";
    background-color: #8048f8;
    float: left;
    border-radius: 10px;
    padding: 8px;
    outline: none;
    box-sizing: border-box;
    width: auto;
    margin-left: 4px;
}
li{
    font-size: 12px;
}
strong{
    font-size: 12px;
}
h1{
    margin-bottom: 1px;
    padding-bottom: 1px;
}
#pan_info{
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    min-width: 1000px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #cecece;
    padding: 8px;
}
#ff{
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-sizing: border-box;
    float:none;
}

hr{
    background-color: #8048f8;
    border-radius: 10px;
    height: 1px;
    margin: 2px;
    border: none;
}
#asd{
    float: right;
    height: 100%;
    max-height: 240px;
    margin: 8px;
}
#patreon{
    font-family: "font";
    background-color: #fff;
    text-align: center;
    color: #ff4d4d;
    border-radius: 10px;
    padding: 8px;
    width: 100%;
    border: 2px solid #ff4d4d;
    box-sizing: border-box;
    font-weight: 700;
}
#patreon:active{
    font-family: "font";
    background-color: #ff4d4d;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    padding: 8px;
    font-weight: 700;
    width: 100%;
    border: 2px solid #ff4d4d;
    box-sizing: border-box;
}
#patreon_who{
    font-family: "font";
    background-color: #fff;
    text-align: center;
    color: #ff4d4d;
    font-weight: 700;
    border-radius: 10px;
    padding: 8px;
    width: 100%;
    border: none;
    box-sizing: border-box;
}


#twitter{
    font-family: "font";
    background-color: rgb(99, 192, 247);
    text-align: center;
    color: #fff;
    border-radius: 10px;
    padding: 8px;
    width: 100%;
    border: 2px solid #4dcdff;
    box-sizing: border-box;
}



